.footer {
  grid-area: footer;
  padding-bottom: 20px;
  @include center-col;
}
.footer a {
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
