@import './Vars.scss';

* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
body {
  background: #87cefa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #191970,
    #87cefa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #191970,
    #87cefa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  font-family: $theme-font;
  color: #f2f2f2;
}
a {
  color: #f2f2f2;
  text-decoration: none;
  cursor: pointer;
}
.main {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}
.home {
  grid-area: main;
  min-height: calc(100vh - 152px);
}
@import '../styles/components/Header.scss';
@import '../styles/components/Search.scss';
@import '../styles/components/Carousel.scss';
@import '../styles/components/CarouselItem.scss';
@import '../styles/components/Footer.scss';
@import '../styles/components/Login.scss';
@import '../styles/components/Register.scss';
@import '../styles/components/Player.scss';
@import '../styles/components/NotFound.scss';
@import '../styles/components/ScoreApp.scss';
@import '../styles/components/CreatePlayer.scss';
@import './Media.scss';
@import './Keyframes.scss';
