@media (min-width: 450px) {
  .header {
    height: 100px;
  }
  .header__menu--list {
    font-size: 18px;
    top: 72px;
  }
  .header__logo--p,
  .header__menu--profile {
    font-size: 40px;
  }
}
@media (min-width: 640px) {
  .header__logo--p::after {
    content: 'voleyplaya';
  }
  .player {
    .player__details {
      margin: 20px 0;
      grid-template-rows: auto;
      grid-template-columns: auto auto;
      grid-template-areas: 'player__image player__skills';
      .player__image,
      .player__skills {
        margin: auto 10px;
      }
    }
  }
}
@media (min-width: 680px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
