@media (min-width: 450px) {
  .home,
  .createPlayer,
  .login,
  .notFound,
  .player,
  .register,
  .score-app {
    min-height: calc(100vh - 216px);
  }
  .header {
    height: 100px;
  }
  .header__logo--p,
  .header__menu--profile {
    font-size: 40px;
  }
}
@media (min-width: 640px) {
  .header__menu:hover .header__menu--list,
  .header__menu--list:hover {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .header__menu--list {
    background-color: initial;
    position: absolute;
    font-size: 12px;
    width: initial;
    height: initial;
    font-size: 18px;
    right: 0;
    top: 80px;
  }
  .exit {
    display: none;
  }
  .header__logo--p::after {
    content: 'voleyplaya';
  }
  .player {
    .player__details {
      margin: 20px 0;
      grid-template-rows: auto;
      grid-template-columns: auto auto;
      grid-template-areas: 'player__image player__skills';
      .player__image,
      .player__skills {
        margin: auto 10px;
      }
    }
  }
}
@media (min-width: 680px) {
  .home,
  .createPlayer,
  .login,
  .notFound,
  .player,
  .register,
  .score-app {
    min-height: calc(100vh - 152px);
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
