@media (min-width: 450px) {
  .header {
    height: 100px;
    display: flex;
    justify-content: space-between;
  }
  .header__menu {
    justify-content: flex-end;
    position: relative;
  }
  .header__menu--list {
    position: absolute;
    top: 70px;
    right: 0;
  }
}
@media (min-width: 640px) {
  .header__logo--p::after {
    content: 'voleyplaya';
  }
  .player {
    .player__details {
      margin: 20px 0;
      grid-template-rows: auto;
      grid-template-columns: auto auto;
      grid-template-areas: 'player__image player__skills';
      .player__image,
      .player__skills {
        margin: auto 10px;
      }
    }
  }
}
@media (min-width: 680px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
