.header {
  grid-area: header;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__logo {
  @include center-row;
  height: inherit;
}
.header__logo--img {
  height: 60%;
}
.header__logo--p {
  font-size: 24px;
  margin-left: 10px;
}
.header__menu {
  height: 100%;
  @include center-row;
  cursor: pointer;
  justify-content: flex-end;
}
.header__menu--profile {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
}
.header__menu--list {
  background-color: rgba($color: #000000, $alpha: 0.75);
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  display: none;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
}
.header__menu:active .header__menu--list,
.header__menu--list:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.header__menu--list li:hover a {
  text-decoration: underline;
}
.header__menu:hover .header__menu--profile .fas {
  animation-name: parpadear;
  animation-duration: 300ms;
}
.header__menu--profile {
  .fas {
    margin-right: 10px;
  }
  img {
    height: 50px;
    border-radius: 50%;
  }
}

.header__menu:active .exit,
.header__menu--list:hover ~ .exit {
  width: 100vw;
  position: fixed;
  top: 80vh;
  left: 0;
  z-index: 200;
  @include center-row;
}
.exit {
  display: none;
}
.exit__button {
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #f2f2f2;
  background-color: rgba($color: #000000, $alpha: 0.5);
  border-radius: 50%;
  border: 1px solid #ffffff;
}
