.player {
  grid-area: main;
  min-height: calc(100vh - 152px);
  @include center-col;
}
.player {
  h1 {
    margin-bottom: 10px;
  }
  .player__details {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas:
      'player__image'
      'player__skills';
    .player__image {
      grid-area: player__image;
      background-color: rgba($color: #000000, $alpha: 0.5);
      width: 280px;
      height: 280px;
      border-radius: 20px;
      overflow: hidden;
      @include center-col;
      img {
        width: 100%;
        object-fit: cover;
        animation-name: enfocar;
        animation-duration: 2s;
      }
      img:hover {
        cursor: pointer;
      }
    }
    .player__skills {
      grid-area: player__skills;
      box-sizing: border-box;
      background-color: rgba($color: #000000, $alpha: 0.2);
      border-radius: 5px;
      width: 280px;
      height: 280px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin: 20px 0 10px;
      .player__skills--attribute {
        display: flex;
        flex-direction: column-reverse;
        cursor: pointer;
        div {
          overflow: hidden;
          position: relative;
          span {
            display: block;
            border-radius: 5px;
            width: 35px;
            height: 15px;
            margin-top: 8px;
          }
          // span:first-child {
          //   margin-top: 0;
          // }
          .platino {
            background-color: rgba($color: #763c28, $alpha: 0.5);
          }
          .platino-oro {
            background-color: rgba($color: #763c28, $alpha: 1);
          }
          .oro {
            background-color: rgba($color: #8a9597, $alpha: 1);
          }
          .oro-elit {
            background-color: rgba($color: #ffbf00, $alpha: 0.5);
          }
          .elit {
            background-color: rgba($color: #ffbf00, $alpha: 1);
          }
        }
      }
    }
  }
  .button {
    width: 200px;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: steps(9);
}
@keyframes fadeInUp {
  0% {
    padding-top: 212px;
  }
  100% {
    padding-top: 5px;
  }
}
@keyframes enfocar {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: initial;
  }
}
